PUBLIC_APP_URL=http://127.0.0.1:9090
PUBLIC_API_URL=http://localhost:9050
PUBLIC_GOOGLE_CLIENT_ID=dontuseit
PUBLIC_GITHUB_CLIENT_ID=dontuseit
PUBLIC_ALLOW_LOCAL_LOGIN=true
PUBLIC_GITHUB_LOCAL_MOCK=true
