PUBLIC_APP_URL=http://localhost:5173
PUBLIC_API_URL=http://localhost:3000
PUBLIC_GOOGLE_CLIENT_ID=dontuseit
PUBLIC_GITHUB_CLIENT_ID=dontuseit
PUBLIC_POSTHOG_KEY=dontuseit
PUBLIC_ALLOW_LOCAL_LOGIN=true
PUBLIC_GITHUB_LOCAL_MOCK=true
